<?xml version="1.0"?>
<model>
  <name>aruco_03</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Matheus Nascimento</name>
    <email>contamatheusnascimento@gmail.com</email>
  </author>

  <description>
    Aruco marker #00000 (Reference: https://chev.me/arucogen/)
  </description>
</model>
