<?xml version=1.0?>
<model>
  <name>april_tag_17</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Matheus Nascimento</name>
    <email>contamatheusnascimento@gmail.com</email>
  </author>

  <description>
    April Tag Standard 41h12 #17 (Reference: https://github.com/AprilRobotics/apriltag-imgs)
  </description>
</model>
