<?xml version="1.0"?>

<model>
  <name>Docking Station Cage</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Matheus Santos</name>
    <email>contamatheusnascimento@gmail.com</email>
  </author>

  <description>
    Docking stage cage aimed to be used as part of the Gazebo environment that should be developed to support the author Master's degree dissertation.
  </description>

</model>