<launch>
<node pkg="tf" type="static_transform_publisher" name="world_2_cage_docking_tf" args="10 22 -98 0 0 0 world cage_link 100" />
<node pkg="tf" type="static_transform_publisher" name="cage_2_cage_docking_tf" args="-5 0 0 0 0 0 cage_link cage_docking_gt 100" />
</launch>

<!-- Python script to compute fiducial ground thruth -->
<!-- cage = (10, 22, -98)
fid_4 = (6.932824, 21.141088, -98.372108)
difference = [fid_4[i]-cage[i] for i in range(3)] -->
