<?xml version="1.0"?>
<!-- This code was implemented by Matheus Santos.
All content was developed in order to support the author Master's degree 
In case of questions or comments contact him in github at @matheusns -->
<model>
  <name>auv_rl_seabed</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Matheus Santos</name>
    <email>contamatheusnascimento@gmail.com</email>
  </author>

  <description>
      Seabed model to be added to the auv environment.
  </description>

</model>